- provide :title, "Sign In"

%h2 Buddy Balance
= form_for :session, url: sessions_path do |f|
  = f.label :email
  = f.text_field :email

  = f.label :password
  = f.password_field :password

  %br= f.submit "Sign in", class: "btn btn-large btn-primary"

%p
  New User?
  = link_to "Sign up now!", signup_path
