- provide :title, "Sign Up"
%h1 Buddies#new
%p Find me in app/views/buddies/new.html.haml
= form_for @buddy do |f|
  = render 'shared/errors'
  = f.label :name
  = f.text_field :name

  = f.label :email
  = f.text_field :email

  = f.label :password
  = f.password_field :password

  = f.label :password_confirmation, "Confirmation"
  = f.password_field :password_confirmation

  .row
    .span4= f.submit "Create My Account", class: "btn btn-large btn-primary"
  
